@import '~@/assets/style/unit/color.scss';
.el-card__body{
  padding: 0;
}
.el-card{
  background: none;
  border: none;
}
.el-input-group__prepend{
  padding:0px 10px !important;
  background: none;
  border: 1px solid #00E9FF;
  border-right: 0 ;
  img{
    width: 26px;
    height: 26px;
  }
}
.el-input-group__append{
  margin-left: 5px !important;
  background:none !important;
  border: none !important;
}
.el-input__inner{
  background: none;
  // border: 1px solid #00E9FF;
  border-radius: 0;
  // color: #fff;
}
.login-remember{
  width: 100%;
  height: 26px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  p{
    display: flex;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #00E9FF;
    login-checkbox{
      background: none;
    }
  }
}
.login-register{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #00E9FF;
  span{
    margin-left: 3px;
  }
}
.page-login {
  @extend %unable-select;
  // ---
  background: url("./image/bakcol.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  // 层
  display: flex;
  justify-content: center;
  align-items: center;
  .page-login--layer {
    width: 644px;
    height: 558px;
    background: url("./image/kuang.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-login-tltle{
      width: 520px;
      height: 60px;
      background: url("./image/TITLe.png");
      background-size: 100% 100%;
      margin-top: 65px;
    }
    .page-login-box{
      margin-top: 40px;
      width: 350px;
      flex: 1;
    }
  }
  
  .page-login--layer-area {
    overflow: hidden;
  }
  // 时间
  .page-login--layer-time {
    font-size: 24em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.03);
    overflow: hidden;
  }
  // 登陆页面控件的容器
  .page-login--content {
    height: 100%;
    min-height: 500px;
  }
  // header
  .page-login--content-header {
    padding: 1em 0;
    .page-login--content-header-motto {
      margin: 0px;
      padding: 0px;
      color: $color-text-normal;
      text-align: center;
      font-size: 12px;
      span {
        color: $color-text-sub;
      }
    }
  }
  // main
  .page-login--logo {
    width: 200px;
    margin-bottom: 2em;
    margin-top: -2em;
  }
  // 登陆选项
  .page-login--options {
    width: 380px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: $color-primary;
    margin-bottom: 15px;
    font-weight: bold;
  }
  // 登录表单
  .page-login--form {
    color: #fff !important;
    // 登录按钮
    .el-input__inner{
      color: #fff;
    }
    .button-login {
      width: 100%;
      background: #00E9FF;
      border-radius: 23px;
      border: 1px solid #00E9FF;
      font-size: 22px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      margin-top: 27px;
      color: #040A2C;
    }
    // 输入框左边的图表区域缩窄
    .el-input-group__prepend {
      padding: 0px 14px;
      border-radius: 0;
      // border: none !important;
    }
    .login-code {
      height: 40px - 2px;
      display: block;
      margin: 0px -20px;
      margin-left: -10px;
      border: 1px solid #00E9FF;
      // border-top-right-radius: 2px;
      // border-bottom-right-radius: 2px;
    }
  }
  // footer
  .page-login--content-footer {
    padding: 1em 0;
    .page-login--content-footer-options {
      padding: 0px;
      margin: 0px;
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
      a {
        color: $color-text-normal;
        margin: 0 1em;
      }
    }
    .page-login--content-footer-copyright {
      padding: 0px;
      margin: 0px;
      font-size: 12px;
      color: $color-text-normal;
      a {
        color: $color-text-normal;
      }
    }
  }
  // 背景
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      // background: #FFF;
      animation: animate 25s linear infinite;
      bottom: -200px;
      @keyframes animate {
        0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
        }
        100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
        }
      }
      &:nth-child(1) {
        left: 15%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        left: 5%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
      }
      &:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
      }
      &:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
      }
      &:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
      }
      &:nth-child(6) {
        left: 75%;
        width: 150px;
        height: 150px;
        animation-delay: 3s;
      }
      &:nth-child(7) {
        left: 35%;
        width: 200px;
        height: 200px;
        animation-delay: 7s;
      }
      &:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
      }
      &:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
      }
      &:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
      }
    }
  }
}